/* 整體顯示設定 */
* {
  font-size: 14px;
  line-height: 1.3;
}
html,
html nav.navbar {
  min-width: 1280px;
}
i {
  margin-right: 5px;
}
.label-small {
  vertical-align: super;
  font-size: small;
}
/* Tools */
.w300 {
  width: 300px;
}
.w160 {
  width: 160px;
}
.w120 {
  width: 120px;
}
.w100 {
  width: 100px;
}
.w80 {
  width: 80px;
}
.w55 {
  width: 55px;
}
.display-inline-flex {
  display: inline-flex;
  vertical-align: top;
}
.width100 {
  text-align: center;
  width: 100%;
}
.width50 {
  text-align: center;
  width: 50%;
}
.width25 {
  text-align: center;
  width: 25%;
}
.width33 {
  text-align: center;
  width: calc(100% / 3);
}
.width20 {
  text-align: center;
  width: 25%;
}
/* 標題列 */
.toolbar {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  overflow: hidden;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.toolbar .title {
  line-height: 30px;
  font-weight: bold;
  font-size: 15px;
  color: #333;
}
.toolbar label {
  margin-bottom: unset;
}
/* Table */
table.table thead tr {
  background-color:#fdd8dc;
  font-weight: 700;
}
.table-sm td, .table-sm th {
  padding: .1rem .3rem;
}
.tbBorder thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #eaa2a2;
}
.tbBorder td,
.tbBorder th {
  border: 1px solid #eaa2a2;
  vertical-align: middle !important;
  height: 31px;
}
.tbBg thead th,
.tbBg tbody th,
.tbBorder tfoot tr,
td.tbBg {
  background-color:#fdd8dc;
  font-weight: 700;
}
.tbHover tbody tr:hover,
.betTb.tbHover thead tr:hover,
.betBackUpTb.tbHover thead tr:hover {
  background: rgb(255,237,151);
}
table label {
  margin-bottom: unset;
}
/* 線加粗 */
.tblBigBorderTop {
  border-top: 2px solid #eaa2a2;
}
/* 拿掉線的顏色 */
.unsetborder-table thead th,
.unsetborder-table td,
.unsetborder-table th {
  border: 1px solid #dee2e6;
}
.unsetbBorder thead th,
.unsetbBorder td,
.unsetbBorder th {
  border: unset;
}
.unsetbBorder:hover {
  background: unset !important;
}
/* 表格類單雙列跳色 */
.lotteryTb>table>tbody>tr:nth-child(even),
main.lotteryAddMain form table.table>tbody>tr:nth-child(odd),
table#autoRateList>tbody>tr:nth-child(even),
table#baseRateList>tbody>tr:nth-child(even),
table.historyFormTb>tbody>tr:nth-child(even),
table.immediateReportTb>tbody>tr:nth-child(even),
table.whiteLabelTb>tbody>tr:nth-child(even),
table.memberTb>tbody>tr:nth-child(even),
table.agentTb>tbody>tr:nth-child(even),
table.subAccountTb>tbody>tr:nth-child(even),
table.myProfileTb>tbody>tr:nth-child(even),
table.phpLogOp>tbody>tr:nth-child(even),
table.newsTb>tbody>tr:nth-child(even),
table.voucherManageListTb>tbody>tr:nth-child(even),
table.phpLogOpTb>tbody>tr:nth-child(even),
table.ipBlackListTb>tbody>tr:nth-child(even),
table.ipAutoblockListTb>tbody>tr:nth-child(even) {
  background: #ececec;
}
.lotteryTb>table>tbody>tr:nth-child(even):hover,
main.lotteryAddMain form table.table>tbody>tr:nth-child(odd):hover,
table#autoRateList>tbody>tr:nth-child(even):hover,
table#baseRateList>tbody>tr:nth-child(even):hover,
table.historyFormTb>tbody>tr:nth-child(even):hover,
table.immediateReportTb>tbody>tr:nth-child(even):hover,
table.whiteLabelTb>tbody>tr:nth-child(even):hover,
table.memberTb>tbody>tr:nth-child(even):hover,
table.agentTb>tbody>tr:nth-child(even):hover,
table.subAccountTb>tbody>tr:nth-child(even):hover,
table.myProfileTb>tbody>tr:nth-child(even):hover,
table.phpLogOpTb>tbody>tr:nth-child(even):hover,
table.newsTb>tbody>tr:nth-child(even):hover,
table.voucherManageListTb>tbody>tr:nth-child(even):hover,
table.phpLogOpTb>tbody>tr:nth-child(even):hover,
table.ipBlackListTb>tbody>tr:nth-child(even):hover,
table.ipAutoblockListTb>tbody>tr:nth-child(even):hover {
  background: rgb(255,237,151);
}
/* 頁碼 */
nav.pagebar a.btn {
  height: 1.5rem;
  min-width: 3.5rem;
  padding: unset;
  line-height: 1.4;
}
.pagination {
  position: absolute;
  bottom: 6px;
  right: 0px;
}
.pagination li.disabled {
  display: none;
}
.pagination li {
  display: inline-block;
}
.pagination li a {
  font-size: 11px;
}
.pagination>li:first-child>a,
.pagination>li:first-child>span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination>li:last-child>a,
.pagination>li:last-child>span {
  border-radius: 0px 4px 4px 0px;
}
.pagination>li>a,
.pagination>li>span {
  padding: 3px 12px;
  border: 1px solid #DDD;
}
.pagination .jumpPage {
  display: inline-block;
  margin-left: 5px;
}
#recent .contentL #kindTabContent nav.nav,
div#rateRecordDialog nav,
div#betListDialog nav {
  position: relative;
  height: 20px;
}
#recent .contentL #kindTabContent .pagination,
div#rateRecordDialog .pagination,
div#betListDialog .pagination {
  position: absolute;
  bottom: unset;
  right: 0px;
}
#recent .contentL #kindTabContent .pagination li.active a,
div#rateRecordDialog .pagination li.active a,
div#betListDialog .pagination li.active a {
  color: #fff;
}
#recent .contentL #kindTabContent .pagination li.disabled,
div#rateRecordDialog .pagination li.disabled,
div#betListDialog .pagination li.disabled {
  display: none;
}
#recent .contentL #kindTabContent .pagination li,
div#rateRecordDialog .pagination li,
div#betListDialog .pagination li {
  display: inline-block;
}

#recent .contentL #kindTabContent .pagination li a,
div#rateRecordDialog .pagination li a,
div#betListDialog .pagination li a {
  font-size: 11px;
}
#recent .contentL #kindTabContent .pagination>li:first-child>a,
#recent .contentL #kindTabContent .pagination>li:first-child>span,
div#rateRecordDialog .pagination>li:first-child>a,
div#rateRecordDialog .pagination>li:first-child>span,
div#betListDialog .pagination>li:first-child>a,
div#betListDialog .pagination>li:first-child>span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
#recent .contentL #kindTabContent .pagination>li:last-child>a,
#recent .contentL #kindTabContent .pagination>li:last-child>span,
div#rateRecordDialog .pagination>li:last-child>a,
div#rateRecordDialog .pagination>li:last-child>span,
div#betListDialog .pagination>li:last-child>a,
div#betListDialog .pagination>li:last-child>span {
  border-radius: 0px 4px 4px 0px;
}
#recent .contentL #kindTabContent .pagination>li>a,
#recent .contentL #kindTabContent .pagination>li>span,
div#rateRecordDialog .pagination>li>a,
div#rateRecordDialog .pagination>li>span,
div#betListDialog .pagination>li>a,
div#betListDialog .pagination>li>span {
  padding: 1px 12px;
}
#recent .contentL #kindTabContent .pagination .jumpPage,
div#rateRecordDialog .pagination .jumpPage,
div#betListDialog .pagination .jumpPage {
  display: inline-block;
  margin-left: 5px;
}
#recent .contentL #kindTabContent .pagination>li>a,
div#rateRecordDialog .pagination>li>a,
div#betListDialog .pagination>li>a {
  border-right: 0;
}
#recent .contentL #kindTabContent .pagination>li:last-child>a,
div#rateRecordDialog .pagination>li:last-child>a,
div#betListDialog .pagination>li:last-child>a {
  border-right: 1px solid #bd2130;
}
div#pageArea {
  width: 100%;
  margin-right: 15px;
}
form#voucherManageForm nav.nav ul,
div.phpLogOpPage nav.nav ul,
form#ip-black-list nav.nav ul,
div#pageArea nav.nav ul,
div#recent nav.nav ul,
div#rateRecordDialog nav ul,
div#betListDialog nav ul {
  list-style: none;
  position: unset;
}
form#voucherManageForm nav.nav ul li a,
div.phpLogOpPage nav.nav ul li a,
form#ip-black-list nav.nav ul li a,
div#pageArea nav.nav ul li a,
div#recent nav.nav ul a,
div#rateRecordDialog nav ul a,
div#betListDialog nav ul a {
  height: 1.5rem;
  min-width: 3.5rem;
  padding: unset;
  line-height: 1.4;
  text-align: center;
  color: #c82333;
  border-color: #bd2130;
}
form#voucherManageForm nav.nav ul li.page-item.active a,
div.phpLogOpPage nav.nav ul li a.text-white,
form#ip-black-list nav.nav ul li.page-item.active a,
div#pageArea nav.nav ul li a.text-white,
div#recent nav.nav ul li.active a,
div#rateRecordDialog nav ul li.active a,
div#betListDialog nav ul li.active a {
  background: #c82333 !important;
  color: #fff;
}
div#rateRecordDialog nav,
div#betListDialog nav {
  height: 25px;
}
div#rateRecordDialog .pagination,
div#betListDialog .pagination {
  margin-bottom: 0;
  margin-top: 5px;
}
/* 項目球樣式 */
#recent .contentL #kindTabContent div table td.fastChoseTd.item span.number,
#recent .contentL #kindTabContent div table span.openNum span.number,
#recent .contentL #kindTabContent div table td.fastChoseTd.item span.sb,
#recent .contentL #kindTabContent div table span.openNum span.sb,
#recent .contentL #kindTabContent div table td.fastChoseTd.item span.pk10,
#recent .contentL #kindTabContent div table span.openNum span.pk10,
table.historyFormTb span.number,
table.historyFormTb span.sb,
table.historyFormTb span.pk10,
div.lotteryTb table span.number,
div.lotteryTb table span.sb,
div.lotteryTb table span.pk10 {
  width: 1.8em;
  height: 1.8em;
  margin: 0;
  vertical-align: middle;
  border-radius: 50%;
  background: linear-gradient(160deg, #f36b6b 0%, #bb4747 100%);
  color: #fff;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  font-weight: 500;
}
#recent .contentL #kindTabContent div table td.fastChoseTd.item span.thaiBall,
#recent .contentL #kindTabContent div table span.openNum span.thaiBall,
table.historyFormTb span.thaiBall,
div.lotteryTb table span.thaiBall {
  background: #ffafaf;
}
#recent .contentL #kindTabContent div table td.fastChoseTd.item span.sb,
#recent .contentL #kindTabContent div table span.openNum span.sb,
table.historyFormTb span.sb,
div.lotteryTb table span.sb {
  background: url(../images/dice.png) top center;
  width: 2em;
  height: 2em;
  border-radius: unset;
}
#recent .contentL #kindTabContent div table td.fastChoseTd.item span.pk10,
#recent .contentL #kindTabContent div table span.openNum span.pk10,
table.historyFormTb span.pk10,
div.lotteryTb table span.pk10 {
  border-radius: 20%;
  text-shadow: 0.8px 0.8px #000, -0.8px 0.8px #000, 0.8px -0.8px #000, -0.8px -0.8px #000;
}
span.sb.num1 {
  background-position: -1px 0 !important;
}
span.sb.num2 {
  background-position: -1px -28px !important;
}
span.sb.num3 {
  background-position: -1px -56px !important;
}
span.sb.num4 {
  background-position: -1px -84px !important;
}
span.sb.num5 {
  background-position: -1px -112px !important;
}
span.sb.num6 {
  background-position: -1px -140px !important;
}
span.pk10.num1 {
  background: #FFFF00 !important;
}
span.pk10.num2 {
  background: #0089FF !important;
}
span.pk10.num3 {
  background: #4D4D4D !important;
}
span.pk10.num4 {
  background: #FF7300 !important;
}
span.pk10.num5 {
  background: #81FFFF !important;
}
span.pk10.num6 {
  background: #5200FF !important;
}
span.pk10.num7 {
  background: #E3E3E3 !important;
}
span.pk10.num8 {
  background: #FF0000 !important;
}
span.pk10.num9 {
  background: #760000 !important;
}
span.pk10.num10 {
  background: #28C200 !important;
}
table.historyFormTb tbody tr td span,
div.lotteryTb table tbody tr td span {
  display: inline-flex !important;
}
#recent .contentL #kindTabContent div table span.openNum {
  display: inline-flex;
  margin-left: 10px;
}
/* Tabs */
.tab-content {
  margin-top: -1px !important;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-top: unset;
}
.nav-tabs {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 5px;
  list-style-type: none;
  padding: 0px;
  margin-top: 10px;
  border-bottom: unset;
}
.nav-tabs li {
  margin-right: 2px;
}
.nav-tabs li a,
.nav-tabs li span.nav-link {
  display: block;
  min-width: 65px;
  background: #f2f2f2;
  text-align: center;
  color: #555;
  line-height: 1.5;
  border-radius: 2px;
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.nav-tabs li.active a,
.nav-tabs li.active span.nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-link {
  cursor: pointer;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: #dee2e6 #dee2e6 transparent;
}
th[class="clTabs"] {
  display: block;
  min-width: 65px;
  background-color: #f2f2f2 !important;
  text-align: center;
  color: #555;
  line-height: 1.5;
  border-radius: 2px;
  border: 1px solid transparent !important;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  height: 100% !important;
  display: table-cell;
}
th[class="clTabs"]:hover {
  background: rgb(255,237,151) !important;
}
th[class="colorRed"] {
  background-color: #a90000 !important;
  color: #fff;
}
#recent .contentL ul.nav-tabs li a {
  border-radius: 2px;
  border: #e5e5e5 1px solid;
  padding: 2px;
}
#recent .contentL ul.nav-tabs li a:hover {
  text-decoration: none;
  background: rgb(255,237,151);
}
#recent .contentL ul.nav-tabs li.active a {
  background: #a90000;
  border: 1px solid #510000;
  color: #fff;
}
#recent .contentL ul.nav-tabs li.active a:hover {
  text-decoration: none;
  background: #a90000;
}
/* 加減號按鈕及操盤頁按鈕 */
button[type="button"].kindRatePlus,
button[type="button"].singleRatePlus,
button[type="button"].singleRatePlusMulti,
button[type="button"].plusbtn,
button[type="button"].kindRateMinus,
button[type="button"].singleRateMinus,
button[type="button"].singleRateMinusMulti,
button[type="button"].minusbtn {
  width: 18px;
  height: 18px;
  border-radius: 3px;
  line-height:1.35;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
  font-weight: 900;
}
button[type="button"].kindRateMinus,
button[type="button"].singleRateMinus,
button[type="button"].singleRateMinusMulti,
button[type="button"].minusbtn {
  background-color: #0069d9;
  border-color: #0062cc;
}
button[type="button"].kindRatePlus i,
button[type="button"].singleRatePlus i,
button[type="button"].singleRatePlusMulti i,
button[type="button"].plusbtn i,
button[type="button"].kindRateMinus i,
button[type="button"].singleRateMinus i,
button[type="button"].singleRateMinusMulti i,
button[type="button"].minusbtn i {
  margin-right: unset;
}
.ulCust input[type="checkbox"]+.labels::before,
.ulCust input[type="radio"]+.labels::before {
  content: "";
  width: 13px;
  height: 13px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.ulCust input[type="checkbox"]:checked+.labels::before,
.ulCust input[type="radio"]:checked+.labels::before {
  content: "✓";
  text-align: center;
  line-height: 13px;
  color:#fff;
  background: #a90000;
  border: 1px solid #510000 !important;
}
.ulCust input[type="checkbox"],
.ulCust input[type="radio"] {
  display: none;
}
.ulCust input[type="radio"]+.labels::before {
  border-radius: 50%;
  padding-right: 1px;
}
div#quickChose1 label span::before,
div#quickChose2 label span::before,
div#quickChose3 label span::before,
div#quickChose4 label span::before {
  margin-right: 1px;
  padding: 6px;
  border: 1px solid #aaa;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#quickChose1,
#quickChose2,
#quickChose3,
#quickChose4 {
  line-height: 25px;
}
#quickChose1 label,
#quickChose2 label,
#quickChose3 label,
#quickChose4 label {
  margin-right: 7px;
}
#quickChose1 .quick_select,
#quickChose2 .quick_select,
#quickChose3 .quick_select,
#quickChose4 .quick_select {
  display: inline-block;
  margin-left: 20px;
}

.fastBtnDiv {
  margin-top: 5px;
}
.fastBtnDiv .fast_button,
.fastBtnDiv .offestDiv {
  margin-bottom: 5px;
  word-break: keep-all;
  white-space: pre;
}
.fastBtnDiv .fast_button button,
.fastBtnDiv .offestDiv button,
.specifiedOdds button {
  color: #666;
  background: #F2F2F2;
  border: 1px solid #DDD;
  border-radius: 1px;
}
.fastBtnDiv .fast_button button:hover,
.fastBtnDiv .offestDiv button:hover,
.specifiedOdds button:hover {
  background: #E7E7E7;
  border: 1px solid #AAA;
}
.fastBtnDiv .fast_button button i,
.fastBtnDiv .offestDiv button i {
  margin: 0px;
}
.fastBtnDiv .offestDiv {
  display: inline-flex;
  align-items: center;
}
.fastBtnDiv .offestDiv input.offestInput {
  min-width: 120px;
}
div[id*="quickChose"] span[id*="quickTitle"]{
  display: inline-block;
}
.specifiedOdds {
  display: inline-block;
  word-break: keep-all;
  white-space: pre;
}

/* 操盤 */
table#onlineBetTop button {
  word-break: keep-all;
  white-space: pre;
}
div#onlineBetContent table th,
div#onlineBetContent table td {
  padding: unset;
  text-align: center;
}
#recent .contentL #kindTabContent div[id="tab31"] table thead tr:first-child th,
#recent .contentL #kindTabContent div[id="tab32"] table thead tr:first-child th,
#recent .contentL #kindTabContent div[id="tab41"] table thead tr:first-child th,
#recent .contentL #kindTabContent div[id="tab90"] table thead tr:first-child th,
#recent .contentL #kindTabContent div[id="tab91"] table thead tr:first-child th,
#recent .contentL #kindTabContent div[id="tab92"] table thead tr:first-child th,
#recent .contentL #kindTabContent div[id="tab64"] table thead tr:first-child th,
#recent .contentL #kindTabContent div[id="tab66"] table thead tr:first-child th,
#recent .contentL #kindTabContent div[id="tab67"] table thead tr:first-child th,
#recent .contentL #kindTabContent div[id="tab100"] table thead tr:first-child th,
#recent .contentL #kindTabContent div[id="tab101"] table thead tr:first-child th,
#recent .contentL #kindTabContent div[id="tab102"] table thead tr:first-child th,
#recent .contentL #kindTabContent div[id="tab103"] table thead tr:first-child th,
#recent .contentL #kindTabContent div[id="tab104"] table thead tr:first-child th,
#recent .contentL #kindTabContent div[id="tab105"] table thead tr:first-child th,
#recent .contentL #kindTabContent div[id="tab171"] table thead tr:first-child th,
#recent .contentL #kindTabContent div[id="tab172"] table thead tr:first-child th {
  border-left: unset;
  border-right: unset;
  border-top: unset;
  background-color: #fff;
}
/* 操盤內頁 */
#recent>table thead tr,
div.border>table.table thead tr,
div.row table.table thead tr {
  background-color:#fdd8dc;
  text-align: center;
}
#recent .contentL #kindTabContent>div>table thead tr:nth-child(2),
#recent .contentL #kindTabContent div[id="tab31"] table[o="31Offest"]>thead tr:nth-child(2) th,
#recent .contentL #kindTabContent div[id="tab32"] table[o="32Offest"]>thead tr:nth-child(2) th,
#recent .contentL #kindTabContent div[id="tab41"] table[o="41Offest"]>thead tr:nth-child(2) th,
#recent .contentL #kindTabContent div[id="tab90"] table[o="90Offest"]>thead tr:nth-child(2) th,
#recent .contentL #kindTabContent div[id="tab91"] table[o="91Offest"]>thead tr:nth-child(2) th,
#recent .contentL #kindTabContent div[id="tab92"] table[o="92Offest"]>thead tr:nth-child(2) th,
#recent .contentL #kindTabContent div[id="tab171"] table[o="171Offest"]>thead tr:nth-child(2) th,
#recent .contentL #kindTabContent div[id="tab100"] table[o="100Offest"]>thead tr:nth-child(2) th,
#recent .contentL #kindTabContent div[id="tab101"] table[o="101Offest"]>thead tr:nth-child(2) th,
#recent .contentL #kindTabContent div[id="tab102"] table[o="102Offest"]>thead tr:nth-child(2) th,
#recent .contentL #kindTabContent div[id="tab103"] table[o="103Offest"]>thead tr:nth-child(2) th,
#recent .contentL #kindTabContent div[id="tab104"] table[o="104Offest"]>thead tr:nth-child(2) th,
#recent .contentL #kindTabContent div[id="tab105"] table[o="105Offest"]>thead tr:nth-child(2) th,
#recent .contentL #kindTabContent div[id="tab64"] table[o="64Offest"]>thead tr:nth-child(2) th,
#recent .contentL #kindTabContent div[id="tab66"] table[o="66Offest"]>thead tr:nth-child(2) th,
#recent .contentL #kindTabContent div[id="tab67"] table[o="67Offest"]>thead tr:nth-child(2) th,
#recent .contentL #kindTabContent div[id="tab33"] table[o="33Offest"] tr th,
#recent .contentL #kindTabContent div[id="34Tabs"] tr th,
#recent .contentL #kindTabContent div[id="35Tabs"] tr th,
#recent .contentL #kindTabContent div[id="36Tabs"] tr th,
#recent .contentL #kindTabContent div[id="37Tabs"] tr th,
#recent .contentL #kindTabContent div[id="38Tabs"] tr th,
#recent .contentL #kindTabContent div[id="tab42"] table[o="42Offest"] tr th,
#recent .contentL #kindTabContent div[id="43Tabs"] tr th,
#recent .contentL #kindTabContent div[id="44Tabs"] tr th,
#recent .contentL #kindTabContent div[id="45Tabs"] tr th,
#recent .contentL #kindTabContent div[id="46Tabs"] tr th,
#recent .contentL #kindTabContent div[id="47Tabs"] tr th,
#recent .contentL #kindTabContent div[id="tab172"] table[o="172Offest"]>thead tr:nth-child(2) th {
  background-color:#fdd8dc;
  border: 1px solid #eaa2a2;
  vertical-align: middle;
}
#recent .contentL #kindTabContent div[id="tab33"] table[o="33Offest"] tr th,
#recent .contentL #kindTabContent div[id="34Tabs"] tr th,
#recent .contentL #kindTabContent div[id="35Tabs"] tr th,
#recent .contentL #kindTabContent div[id="36Tabs"] tr th,
#recent .contentL #kindTabContent div[id="37Tabs"] tr th,
#recent .contentL #kindTabContent div[id="38Tabs"] tr th,
#recent .contentL #kindTabContent div[id="tab42"] table[o="42Offest"] tr th,
#recent .contentL #kindTabContent div[id="43Tabs"] tr th,
#recent .contentL #kindTabContent div[id="44Tabs"] tr th,
#recent .contentL #kindTabContent div[id="45Tabs"] tr th,
#recent .contentL #kindTabContent div[id="46Tabs"] tr th,
#recent .contentL #kindTabContent div[id="47Tabs"] tr th,
#recent .contentL #kindTabContent div[id="tab172"] table[o="172Offest"]>thead tr:nth-child(2) th {
  font-size: 12px;
  letter-spacing: -1px;
  vertical-align: middle;
}
#recent .contentL #kindTabContent div[id="tab91"] table[o="91Offest"]>thead tr:nth-child(2) th,
#recent .contentL #kindTabContent div[id="tab92"] table[o="92Offest"]>thead tr:nth-child(2) th {
  font-size: 14px;
}
#recent .contentL #kindTabContent div table td,
#recent .contentL #kindTabContent div table th {
  border-top: unset;
  vertical-align: baseline;
  font-weight: 700;
}
#recent .contentL #kindTabContent div.onlineBetRateTd span {
  min-width: 20px;
  display: block;
  padding: 0 5px;
}
.fcChose, .choose {
  background: #fffb1f !important;
}
#recent .contentL #kindTabContent div.fastBtnDiv ul.badge {
  list-style: none;
  border-radius: 0.3rem;
  display: inline-flex;
}
#recent .contentR {
  width: 25%;
  display: inline-flex;
  padding-top: 118px;
}
#recent .contentR>div {
  text-align: center;
  flex: 0.5
}
#recent .contentR div table tbody th {
  background-color:#ffffd9;
  text-align: center !important;
}
#recent .contentR table tbody tr:hover {
  background: transparent;
}
#recent .contentR #tbt {
  font-weight: normal !important;
}
#recent .contentR .kindAmount {
  font-weight: normal;
}
/* 總額 兩面長龍 */
.bettotal,
.changlong,
.missout {
  width: 99%;
}
.bettotal thead th,
.changlong thead th,
.missout thead th {
  height: unset;
}
.bettotal tbody th,
.changlong tbody th,
.missout tbody th {
  text-align: left !important;
  padding-left: 5px;
  height: unset;
}
.bettotal tbody td,
.changlong tbody td,
.missout tbody td {
  padding: 0 5px;
  font-weight: bold;
  height: unset;
}
.bettotal span,
.changlong span,
.missout span {
  font-weight: bold !important;
}
#changlong,
#missout {
  margin-left: 1%;
}
.clTabs {
  cursor: pointer;
}

/* 帳號管理 */
table.whiteLabelTb thead tr th label,
table.agentTb thead tr th label,
table.memberTb thead tr th label,
main.account_info div#profile table.table {
  margin-bottom: 0;
}
table.whiteLabelTb>tbody>tr a.btn,
table.memberTb>tbody>tr a.btn,
table.agentTb>tbody>tr a.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
table.whiteLabelTb>tbody>tr a.btn i,
table.memberTb>tbody>tr a.btn i,
table.agentTb>tbody>tr a.btn i {
  padding: .1em .5em;
}
table.whiteLabelTb>tbody>tr a.btn span,
table.memberTb>tbody>tr a.btn span,
table.agentTb>tbody>tr a.btn span {
  white-space: pre;
}
.mbMinus4 {
  margin-bottom: -4px !important;
}
table.agentTb>thead>tr>th.creditLeftTh,
table.whiteLabelTb>thead>tr>th.creditLeftTh {
  width: 255px;
}
table.memberTb>thead>tr>th.creditLeftTh {
  width: 350px;
}
table.agentTb>thead>tr>th.creditLeftTh>div,
table.whiteLabelTb>thead>tr>th.creditLeftTh>div,
table.memberTb>thead>tr>th.creditLeftTh>div {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
table.agentTb>thead>tr>th.creditLeftTh>div>span:nth-child(2),
table.whiteLabelTb>thead>tr>th.creditLeftTh>div>span:nth-child(2),
table.memberTb>thead>tr>th.creditLeftTh>div>span:nth-child(2) {
  display: flex;
  align-items: center;
}
table.agentTb>thead>tr>th.creditLeftTh>div>span:nth-child(2)>label,
table.whiteLabelTb>thead>tr>th.creditLeftTh>div>span:nth-child(2)>label,
table.memberTb>thead>tr>th.creditLeftTh>div>span:nth-child(2)>label {
  margin-bottom: unset;
}
/* 帳號管理 - 信息彈跳窗 */
main.account_info div#profile table.table thead tr th,
main.account_info div#profile table.table tbody tr td {
  border: 0;
}
main.account_info div#profile table.table thead tr,
main.account_info div.tab-content div#profile div.form-group:last-child {
  border-bottom: 1px solid #eaa2a2;
}
main.account_info div#profile table.table thead tr th,
main.account_info div#profile table.table tbody tr td {
  border-right: 1px solid #eaa2a2;
}
main.account_info div#profile table.table thead tr th:last-child,
main.account_info div#profile table.table tbody tr td:last-child {
  border-right: 0;
}
main.account_info div.tab-content div#profile div.form-group {
  border: 1px solid #eaa2a2;
  margin-bottom: 0;
  border-bottom: 0;
}
main.account_info div.tab-content div#profile div.form-group:hover {
  background: rgb(255,237,151);
}
main.account_info div.tab-content div#profile div.form-group>div {
  display: flex;
  align-items: center;
}
main.account_info div.tab-content div#profile div.form-group div.myInfoCredits,
main.account_info div.tab-content div#profile div.form-group>label {
  border-right: 1px solid #eaa2a2;
}
main.account_info div.tab-content div#profile div.form-group>label {
  background: #fdd8dc;
}
main.account_info div.tab-content div#profile div.form-group>table {
  margin: 0;
}
main.account_info div.tab-content div#profile div.form-group>div.col-sm-10 {
  padding-left: 0px;
  padding-right: 0px;
}
main.account_info div.tab-content div#gameCategory_lotto table:nth-child(1) {
  text-align: center;
}
main.account_info div.tab-content div#gameCategory_lotto table:nth-child(1) thead th:nth-child(1) {
  width: calc(100% / 3);
}
main.account_info div.tab-content div#gameCategory_lotto table:nth-child(2) thead tr:first-child {
  background-color: unset !important;
}
main.account_info div.tab-content div#gameCategory_lotto table:nth-child(2) thead td {
  border: unset;
  font-weight: bold;
}
/*帳號管理 - 編輯*/
#gameCategory_lotto table:nth-child(1) {
  text-align: center;
}
#gameCategory_lotto table:nth-child(1) thead th:nth-child(1) {
  width: calc(100% / 3);
}
#gameCategory_lotto table.lotto-config-table thead.tHead tr:first-child {
  background-color: unset !important;
}
#gameCategory_lotto table.lotto-config-table thead.tHead tr:first-child th {
  border: unset;
  font-weight: bold;
  background-color: unset !important;
}
#gameCategory_lotto table:nth-child(1) tbody tr td:nth-child(1),
#gameCategory_lotto table:nth-child(2) tbody tr td:nth-child(1) {
  background-color: #fdd8dc;
  font-weight: 700;
}
#gameCategory_lotto table:nth-child(1) tbody tr td div[class*="input-group"] {
  margin: 0 auto;
}
/* 個人管理 - 我的吃額 */
#gameCategory_lotto table.myPayoutTb thead th:nth-child(1) {
  width: 250px;
}
#gameCategory_lotto table.myPayoutTb thead tr:first-child {
  background-color: unset !important;
  border-right: none;
  border-left: none;
}
#gameCategory_lotto table.myPayoutTb thead tr:first-child td {
  border-right: none;
  border-left: none;
}

/* 報表查詢 */
main.papersMain div.border {
  border-top: none !important;
}
main.papersMain div.border table.border {
  border-right: none !important;
  border-left: none !important;
}
table.papersTb tbody th {
  width: 250px;
}
table.papersTb button[type="button"] {
  min-width: 65px;
  background: #f2f2f2;
  color: #555;
  border: 1px solid transparent;
}
table.papersTb button[type="button"]:hover {
  border: 1px solid #510000;
}
table.papersTb button[type="button"]:focus {
  background: #a90000;
  border: 1px solid #510000;
  color: #fff;
}
/* 開獎 */
/* 開獎 - 開獎設置 */
main.lotteryEditMain form table tbody th {
  width: 160px;
}
main.lotteryEditMain form table tbody td {
  text-align: center;
}
main.lotteryEditMain form input {
  min-width: 55px;
}
main.lotteryEditMain form table tbody td input:last-child {
  margin-right: 0 !important;
}
/* 開獎 - 歷史開獎 */
form#historyForm div.border {
  border-top: none !important;
}
form#historyForm div.border table.border {
  border-right: none !important;
  border-left: none !important;
}
form#historyForm table div.querybar div.col-6 {
  padding-right: 0;
}
/*遊戲管理*/
/*遊戲管理 - 彩種設置*/
main.gameSettingListTb table tr td {
  font-weight: 700;
}
main.gameSettingListTb table tr td i{
  margin-right: unset;
}
form#gameSettingForm #gameSettingList.gameSettingList tbody tr:nth-child(1) {
  background-color: #fdd8dc;
  font-weight: 700;
}
form#gameSettingForm table#gameSettingList tbody tr td,
form#gameSettingForm table#menuSettingList tbody tr td:nth-child(2) {
  text-align: center;
}
form#gameSettingForm table#gameSettingList tbody tr td input,
form#gameSettingForm table#gameSettingList tbody tr td select {
  width: 160px;
}
form#gameSettingForm table#menuSettingList tbody tr td div label {
  min-width: 120px;
  display: inline-flex;
  align-items: center;
}
form#gameSettingForm table#menuSettingList tbody tr td div label span {
  margin-left: 5px;
}
form#gameSettingForm table#menuSettingList tbody tr td:nth-child(3),
form#gameSettingForm table#menuSettingList tbody tr td:nth-child(3) input {
  width: 80px;
}
form#gameSettingForm #menuSettingList.menuSettingList tbody tr th,
form#gameSettingForm #gameSettingList.gameSettingList tbody tr th {
  width: 15%; 
}
form#gameSettingForm #menuSettingList.menuSettingList tbody tr td:nth-child(2) {
  width: 35px;
}
/*遊戲管理 - 退水限額*/
#backLimitForm tbody tr {
  text-align: center;
}
#backLimitForm tbody tr[id="Tr1"] th,
#backLimitForm tbody tr[id="Tr1"] td,
#backLimitList tbody tr[class="fastEditType1"] td,
#backLimitList tbody tr[class="fastEditType1"] th {
  background: #e7ffff;
}
#backLimitForm tbody tr[id="Tr2"] th,
#backLimitForm tbody tr[id="Tr2"] td,
#backLimitList tbody tr[class="fastEditType2"] td,
#backLimitList tbody tr[class="fastEditType2"] th {
  background: #e8e8ff;
}
#backLimitForm tbody tr[id="Tr3"] th,
#backLimitForm tbody tr[id="Tr3"] td,
#backLimitList tbody tr[class="fastEditType3"] td,
#backLimitList tbody tr[class="fastEditType3"] th {
  background: floralwhite;
}
#backLimitForm tbody tr[id="Tr4"] th,
#backLimitForm tbody tr[id="Tr4"] td,
#backLimitList tbody tr[class="fastEditType4"] td,
#backLimitList tbody tr[class="fastEditType4"] th {
  background: honeydew;
}
/*遊戲管理 - 注單管理*/
div.betManageTb table tbody th{
  width: 20%;
}
/*遊戲管理 - 注單明細下載*/
table.betBackUpTb tbody th{
  width: 20%;
}
table.betBackUpTb tbody td div.col-md-3{
  padding-left: 0;
}

/* 系統設置 */
/* 系統設置 - 全域設定 */
div#golbalSettingTabContent ul li {
  list-style: none;
}
div#golbalSettingTabContent div.tab-pane table th {
  width: 20%;
}
div.cnyDate-daterange div[class*="input-group-sm"] {
  position: relative;
}
div.cnyDate-daterange div[class*="input-group-sm"] input{
  cursor: pointer;
}
div.cnyDate-daterange div[class*="input-group-sm"] i {
  position: absolute;
  top: 6px;
  right: 5px;
}
div[aria-labelledby="ipList-tab"] div.bootstrap-tagsinput{
  display: inline-flex;
  align-items: center;
  padding: 0;
  line-height: 1.8;
}
/* 系統設置 - 系統紀錄查詢 */
div.typeOfTransactionTb {
  padding-right: 0;
}
/* 系統設置 - 權限總表 */
main.userPermissionMain table th,
main.userPermissionMain table td {
  padding: unset;
  text-align: center;
}
main.userPermissionMain table thead th:first-child,
main.userPermissionMain table tbody th {
  text-align: right;
  padding-right: 5px;
  width: 250px;
}


/* 外部參考 */
div#navigationArea>div.webRefer {
  width: 150px;
  background: linear-gradient(#EB3A42 0%,#ff949e 100%);
  border: none !important;
  box-shadow: 1px 1px 3px #860e19;
  cursor: pointer;
}
div#navigationArea>div.webRefer>p {
  margin-bottom: 5px;
  margin-top: 5px;
  color: #fff;
}
div#navigationArea>div.webRefer>img {
  width: 75px;
  height: 75px;
  margin-bottom: 0 !important;
}
div#navigationArea>div.webRefer:hover {
  box-shadow: inset -2px -2px 6px #860e19, inset 2px 2px 6px #860e19;
}

/* 注單列表彈跳 Dialog */
.ui-dialog .ui-dialog-titlebar-close:before {
  content: "X";
  line-height: 1;
  display: block;
  color: #000000;
}
#betListDialog>table>tbody>tr a {
  color: #007bff;
}
#betListDialog>table>tbody>tr:last-child {
  background-color: #fdd8dc;
  font-weight: 700;
}
#betListDialog>nav,
#rateRecordDialog>nav {
  display: block;
  height: 55px;
}
#betListDialog>nav>ul,
#rateRecordDialog>nav>ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

/*遊戲規則*/
#twrap .list_type {
  width: 17px;
  height: 17px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-size: .75rem;
  border-radius: 50%;
  color: #fff;
  background: #c71316;
}
#twrap .tb-bd tr:nth-child(odd) td {
  padding: 15px 0;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #ccc;
}

/* 报表表格樣式 */
table.papers .bg-member{ background-color: #9bc3e4;}
table.papers .bg-downline{ background-color: #f3af8a;}
table.papers .bg-myself{ background-color: #ffd674;}
table.papers .bg-upline{ background-color: #c8deb7;}
table.papers .bg-footer{ background: lightgoldenrodyellow;}
/* 共用樣式 */
.color_red{ color: red;}
.color_skin{ color: #ff880e;}
.color_blue{ color:#759aaf;}
.color_green{ color: #28a745;}
.font_bold{ font-weight: bold;}
/* (#35403)不層層級、使用不同色 */
/* 0:公司,1:WhiteLabel,2:Agent,3:會員 */
.class_color_0{ color: rgb(255, 214, 214);}
.class_color_1{ color: #fffcd1;}
.class_color_2{ color:#e9ffe9;}
.class_color_3{ color:#dbefff;}
/* 0:公司,1:WhiteLabel,2:Agent,3:會員 */
.class_bg_0{ background-color: rgb(255, 214, 214);}
.class_bg_1{ background-color: #fffcd1;}
.class_bg_2{ background-color:#e9ffe9;}
.class_bg_3{ background-color:#dbefff;}

/* 個人管理 - 傳票管理 */
form#voucherManageForm div.toolbar table#requestTable tbody td:nth-child(2),
form#voucherManageForm div.toolbar table#requestTable tbody td:nth-child(3) {
  position: relative;
}
form#voucherManageForm div.toolbar table#requestTable tbody td:nth-child(2) input[type="text"],
form#voucherManageForm div.toolbar table#requestTable tbody td:nth-child(3) input[type="text"]{
  cursor: pointer;
}
form#voucherManageForm div.toolbar table#requestTable tbody td i {
  position: absolute;
  top: 8px;
  right: 5px;
}

@media screen and (max-width: 1080px) {
  #recent .contentL #kindTabContent div.onlineBetRateTd {
    display: flex;
    flex-direction: column;
  }
  #recent .contentL #kindTabContent div button.singleRatePlusMulti,
  #recent .contentL #kindTabContent div button.singleRateMinusMulti,
  #recent .contentL #kindTabContent div button.singleRatePlus,
  #recent .contentL #kindTabContent div button.singleRateMinus {
    width: 100%;
  }
}